// Container und Breakpoint
@use 'sass:math';
$containerWidth: 1080;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2) + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//BurgerMenu 
$burgerBreakpoint: $breakpoint768;
$burgerColor: rgba(94, 92, 108, 1);
$burgerActiveColor: white;

//Colors
$grey: rgba(94, 92, 108, 1);
$blue: #2962EF;
$hoverBlue: #0b4cf1;
$black: #232427;

